<mat-toolbar color="primary">
  <span [routerLink]="['']" class="title">Lista de clientes <img src="../../../assets/logo.png"></span>
  <span class="spacer"></span>
  <button mat-icon-button class="add-icon" matTooltip="Adicionar novo cliente" aria-label="Add customer"
    [routerLink]="['/add']">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Sair" class="logout-icon" aria-label="Logout" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>