<mat-toolbar color="primary">
  <span>LOGIN</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <form class="my-form" [formGroup]="formLogin">
      <mat-form-field class="full-width">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Ex. pat@example.com" name=" email" formControlName="email" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Senha" name="password" formControlName="password" required>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
    <button mat-stroked-button color="primary">Registrar</button>
  </mat-card-actions>
</mat-card>