<div class="container">
  <form class="my-form" [formGroup]="formCreate" *ngIf="this.formCreate">
    <mat-form-field class=" form-element">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome" name="name" formControlName="name" required>
    </mat-form-field>
    <mat-form-field class="form-element">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Ex. pat@example.com" name="email" formControlName="email" required>
    </mat-form-field>
    <mat-form-field class="form-element">
      <mat-label>CPF</mat-label>
      <input matInput type="number" placeholder="Ex: 12345678987" name="cpf" formControlName="cpf" minlength="4"
        required>
    </mat-form-field>
    <mat-form-field class="form-element">
      <mat-label>Telefone</mat-label>
      <input matInput type="number" placeholder="Ex: 1199882211" name="phone" formControlName="phone" required>
    </mat-form-field>
    <mat-form-field class="form-element">
      <mat-label>CEP</mat-label>
      <input matInput type="number" placeholder="Ex: 1234511" name="cep"
        (keyup)="generateAddress(formCreate.get('cep').value)" formControlName="cep" required>
      <div class="alert  alert-danger"
        *ngIf="formCreate.get('cep').errors && formCreate.get('cep').errors.cepError && formCreate.get('cep').dirty">
        CEP deve ter 8 dígitos.
      </div>
    </mat-form-field>
    <mat-form-field class="form-element">
      <mat-label>Rua</mat-label>
      <input matInput type=" string" placeholder="Rua" name="street" formControlName="street" readonly required>
    </mat-form-field>
    <div class="alert  alert-danger" *ngIf="street">
      Não foi possível encontrar um endereço com este CEP.
    </div>
    <mat-form-field class="form-element">
      <mat-label>Número</mat-label>
      <input matInput type="string" placeholder="Número do apartamento ou casa" name="num" formControlName="num"
        required>
    </mat-form-field>
    <div class="form-element">
      <button mat-raised-button class="button" color="primary" (click)="create()">Enviar</button>
    </div>
  </form>
</div>