<div class="container">
  <form class="my-form" [formGroup]="formCreate" *ngIf="this.formCreate">
    <mat-form-field class="form-element">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome" name="name" formControlName="name" value="Sushi" required>
      <div class="alert  alert-danger"
        *ngIf="formCreate.get('name').errors && formCreate.get('name').errors.nameError && formCreate.get('name').dirty">
        Nome inválido.
      </div>
    </mat-form-field>
    <mat-form-field class="form-element">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Ex. pat@example.com" name="email" formControlName="email" required>
    </mat-form-field>
    <mat-form-field class="form-element">
      <mat-label>CPF</mat-label>
      <input matInput type="number" placeholder="Ex: 12345678987" name="cpf" formControlName="cpf" required>
      <div class="alert  alert-danger"
        *ngIf="formCreate.get('cpf').errors && formCreate.get('cpf').errors.cpfNotValid && formCreate.get('cpf').dirty">
        CPF deve conter 11 números e ser válido.
      </div>
    </mat-form-field>
    <mat-form-field class="form-element">
      <mat-label>Telefone</mat-label>
      <input matInput type="number" placeholder="Ex: 1199882211" name="phone" formControlName="phone" required>
      <div class="alert  alert-danger"
        *ngIf="formCreate.get('phone').errors && formCreate.get('phone').errors.phoneError && formCreate.get('phone').dirty">
        Número não existe.
      </div>
    </mat-form-field>
    <mat-form-field class="form-element">
      <mat-label>CEP</mat-label>
      <input matInput type="number" placeholder="Ex: 1234511" name="cep" formControlName="cep"
        (keyup)="generateAddress(formCreate.get('cep').value)" required>
      <div class="alert  alert-danger"
        *ngIf="formCreate.get('cep').errors && formCreate.get('cep').errors.cepError && formCreate.get('cep').dirty">
        CEP deve ter 8 dígitos.
      </div>
    </mat-form-field>
    <mat-form-field class="form-element">
      <mat-label>Rua</mat-label>
      <input matInput type="string" placeholder="Rua" name="street" formControlName="street" required>
      <div class="alert  alert-danger" *ngIf="street">
        Não foi possível encontrar um endereço com este CEP.
      </div>
    </mat-form-field>
    <mat-form-field class="form-element">
      <mat-label>Número</mat-label>
      <input matInput type="string" placeholder="Número do apartamento ou casa" name="num" formControlName="num"
        required>
    </mat-form-field>
    <div class="form-element">
      <button mat-raised-button class="button" color="primary" (click)="update()">Enviar</button>
      <button mat-stroked-button class="button" color="primary" routerLink="/">Voltar</button>
    </div>
  </form>
</div>